{template formhead}<style type="text/css">
	#debug{
	position:absolute;
	right:10px;
	top:10px;
	}
</style>
 <script src="{$_public}test/jquery.flexbox.js" type="text/javascript"></script>
 
<div id="ffb1"></div>
<div id="ffb7"></div>
<div id="ffb7-result"></div>

<div id='debug'>asdf</div>
<script type="text/javascript">
<!--

function debug(a){

var b=$("#debug").html();
$("#debug").html(b+"<br>"+a);

}

var url="{eval echo U('ff')}"
{literal}
 $().ready(function() {

		  $('#ffb7').flexbox(url, {  

			 allowInput: false,
			 resultTemplate: '{id}-{name}',
					//watermark: 'Enter country name',
					width: 260
					 
		});
    });
{/literal}
	
	//-->
</script>