{template reporthead}

<style type="text/css">
	input[type="text"] {
		background: url("../images/input-bg.png") repeat-x scroll 0 0 #FFFFFF;
		height: 20px;
		width: 100px;
	}

</style>
<script type="text/javascript">
<!--
	function clear1(){

	 $("#d1").val('');
	 $("#d2").val('');
	 $("#d3").val(0);
	 $("#d4").val(0);
	 $("#comid").val(-1);
	}
//-->
</script>
<div  >
   <form method='post' action="{eval echo U()}" >


    托车公司：<select name=comid id=comid>
	<option value="-1">请选择</option>
	{loop $comlist $k $v}
		<option value="$v['id']" {if $comid==$v['id']}selected{/if}>$v['name']</option>
     {/loop}
	 </select>
	开始日期:<input name="d1" type="text" id="d1" class="date_input" value="{$d1}" />
	结束日期:<input name="d2" type="text" id="d2" class="date_input" value="{$d2}" />

    年份：<select name=d3 id=d3>
	<option value="0">请选择年</option>
	{eval for($i=2008;$i<2050;$i++){}
		<option value="$i" {if $d3==$i}selected{/if}>$i</option>
     <?}?>
	 </select>
	月份:<select name=d4 id=d4>
	<option value="0">请选择月</option>
	{eval for($i=1;$i<=12;$i++){}
		<option value="$i" {if $d4==$i}selected{/if}>$i</option>
     <?}?>
	 </select>


 	<input type=submit value='查询'>&nbsp;&nbsp;<input type=button onclick=clear1() value='取消查询' >
	</form>
</div>


 <table    class=reporttable cellspacing="0" width=1000 align=center>
 <caption>$company(供应商) </caption>
 <tr>
		    <th style='width:60px;'>ID</th>
			<th style='width:60px;'>单号</th>

			<th style='width:60px;'>柜号</th>
			<th style='width:60px;'>S/O</th>
			<th style='width:60px;'>品名</th>

			<th style='width:60px;'>托车费</th>
			<th style='width:60px;'>码头费</th>

			<th style='width:60px;'>其它费</th>
		    <th style='width:60px;'>日期</th>

</tr>
 {loop $list $key $v}


		<tr>
		<td>&nbsp;$key</td>
		<td>&nbsp;$v['b_code']</td>	<td>&nbsp;$v['b_tank_code']</td>
		<td>&nbsp;$v['b_so']</td>
		<td>&nbsp;$v['b_product_name']</td>
		<td>&nbsp;$v['pr_money']</td>
		<td>&nbsp;$v['pr_portmoney']</td>
		<td>&nbsp;$v['pr_other']</td>

		<td>&nbsp;$v['postdate']</td>
		</tr>
 {/loop}
 <tr><td> 合计</td>
		<td>&nbsp;</td>	<td>&nbsp;</td>	<td>&nbsp;</td><td>&nbsp;</td>
		<td>$countdata['pr_money']</td>
		<td>$countdata['pr_portmoney']</td>
		<td>$countdata['pr_other']</td>

		<td>&nbsp;</td>
		</tr>
 </table>
 {template formfoot}

