<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8">
		<title> </title>

	<style type="text/css" media="screen"> 
	@import '{$_public}style/style.css';
	</style>
</head>
<body> 
<script language="JavaScript" src="{$_public}script/genv.js"></script>
<script language="JavaScript" src="{$_public}script/genv.gui.js"></script>
 <script language="JavaScript" src="{$_public}script/json2.js"></script>
 
<SCRIPT LANGUAGE="JavaScript">
 <!--
	{$pageinfo}	
//-->
 </SCRIPT>
<script language="JavaScript" src="{$_public}script/listtable.js"></script>
 <div class="title-div">
	<table>
	<tr>
		<td><div class="title"><a href="index.php?act=main"> 管理中心</a> </span><span id="search_id" class="action-span1"> - 分类管理 </span>

		</div><div style="clear:both"></div></td>
		<td align="right" class="action">
        		<div class="btn" onmouseover="tbtn_init(this)" onclick="javascript:window.location.href='{eval echo U('add')}'" title="">
			<div class="l"><span class="side"></span></div>
			<div class="m"><i class="add"></i><span><a href="{$addurl}">添加分类</a>&nbsp;</span></div>
			<div class="r"><span class="side"></span></div>
		</div>
						</td>

	</tr>
	</table>
</div>


<form method="post" action="" name="listForm">
 
<div class="list-div" id="listDiv">


<table width="100%" cellspacing="1" cellpadding="2" id="list-table">
  <tr>
    <th>分类名称</th>
	<th>类型</th>
    <th>描述</th>    
    <th>状态</th>
    <th>排序</th>    
    <th>动作</th>
  </tr>
  

  {loop $menulist $key $v}
  <tr align="center" class="{$v['level']}">
    <td align="left" class="first-cell" >
      
      <img src="{$_public}images/menu_minus.gif" width="9" height="9" border="0" style="margin-left:{$v['level']}em" onclick="rowClicked(this)" />
     
      <span><a href="goods.php?act=list&cat_id={$v['id']}">{$v['name']}</a></span>
    </td>
    <td><span  >{$v['type']}</span></td> 
	<td><span  >{$v['remark']}</span></td>     
    <td width="10%" align="right"><span >{$v['status']}</span></td>
   	 <td><span >{$v['taxis']}</span></td>	 
	<td width="24%" align="center">
      
      <a href="{eval echo U('edit',array('id'=>$v['id'],'type'=>$type))}">编辑</a> |
      <a href="javascript:;" onclick="listTable.remove({$v['id']}, '你确定要删除吗')" title="删除">删除</a>
    </td>
  </tr>
  {/loop}
</table>


</div>
</form>


<script language="JavaScript">
<!--

var imgPlus = new Image();
imgPlus.src = "{$_public}images/menu_plus.gif";
/**
 * 折叠分类列表
 */
function rowClicked(obj)
{
  obj = obj.parentNode.parentNode;
 
  var tbl = document.getElementById("list-table");
  var lvl = parseInt(obj.className);
  var fnd = false;
 
  for (i = 0; i < tbl.rows.length; i++)
  {
      var row = tbl.rows[i];
   
      if (tbl.rows[i] == obj)
      {
          fnd = true;
      }
      else
      {
          if (fnd == true)
          {
              var cur = parseInt(row.className);
			  
              if (cur > lvl)
              {
                  row.style.display = (row.style.display != 'none') ? 'none' : (Genv.Browser.ie) ? 'block' : 'table-row';

				  
              }
              else
              {
                  fnd = false;
                  break;
              }
          }
      }
  }

  for (i = 0; i < obj.cells[0].childNodes.length; i++)
  {
      var imgObj = obj.cells[0].childNodes[i];
      if (imgObj.tagName == "IMG" && imgObj.src != '{$_public}images/menu_arrow.gif')
      {
          imgObj.src = (imgObj.src == imgPlus.src) ? '{$_public}images/menu_minus.gif' : imgPlus.src;
      }
  }
}
//-->
</script>
