{template pagegrid}
<style type="text/css" media="screen">		 
		
@import '{$_public}css/yuiskin.css';
@import '{$_public}css/form.css';
.none{display:none;}
.load-hi1{
 width:100%;
 color:blue;
}
.load-medium{
color:red;
 width:100%
}
</style>
<script type="text/javascript">
<!--
	var apiediturl="{eval echo U('apiedit')}";
//-->
</script>
<body class="yui-skin-sam">
<ul id="contextMenus" style="display:none;position:absolute;z-ingdex:2020">			 
	<li data="edit">修改</li>
	<li data="delete">删除</li>
	 
</ul>
<div id='topbar' class="datetitle">
	<ul  style="">	 
		 
		<li  class="bt_s4"><a title="删除"  href="javascript:void(0);" id='deleteselect'>删除</a></li>
	 </ul> 
</div> 
<div id='searchbar' class="searchbar none">
	 标题<input type=text name='title'><button class=bt_s2>查询</button>
</div> 
<div id="myGrid" style="width:550px;height:400px;"></div>
 
<div id="DataGrid" class=DataGrid style='align:left;display:none' url='{$datasrc}'>
	<ul>
		<li title='id' id='id' width="50"  ></li>
		<li title='类别' id='cate' width="50"  formatter="cateFormatter" ></li>
		<li title='银行' id='bankname' width="80" ></li>
		<li title='公司' id='comname' width="120" ></li>
		<li title='金额' id='money' width="50" ></li>
		<li title='添加日期' id='postdate' width="70" ></li>		
		<li title='备注' id='remark' width="150" ></li>
	</ul> 
	<textarea class="griddata" >{$listdata}</textarea>
	<textarea class="gridconfig" >var config={checkboxid:'sid',iscount:true}</textarea>
</div>



<div id=footbar class="pages "></div>
</div>
<style type="text/css">
	.bd div input {
    width: 100px;
	}
	.bd div span{
	
	 color:red;
	}
}
</style>
<div style="z-index: 2; visibility: visible; left: 560px; top: 40px;width:350px;" class="yui-module yui-overlay " id="classPath">
 <div style="z-index: 2; visibility: visible; left: 0px; top: 0px;" id="toolBoxHolder_c" class="yui-panel-container shadow">
 <div style="visibility: inherit; width: 350px;" class="yui-module yui-overlay yui-panel" id="toolBoxHolder">
    <div id="toolBoxHolder_h"  class="hd">其它信息</div>
    <div class="bd">
    <form id="myform" method='post' action="{eval echo U('fincsave')}">
        <fieldset>
            <legend>信息</legend>
            <div >
				<label>业务员:<span>$bill['busname']</span> 单号:$bill['b_code']				 
				</label>				
			</div>
			<div >
				<label>客户:<span>$bill['cusname']</span>  			 
				</label>				
			</div>
			<div >
				<label>应收: <span>$bill['count_shu']</span> 实收:	<span id=idshu>$bill['shi_shu']</span>
				</label>				
			</div>			 
			<div >
				<label>应付:<span>$bill['count_zhi'] </span>实付: <span id=idzhi>$bill['shi_zhi']</span>
				</label>				
			</div>
			  <div >
				<label>日期:
					 <input type="text" size="20" class="input-w2 input-text date_input" name='postdate' id='postdate' readonly  />					 
				</label>				
			</div>
			 <div >
				<label>选择类型:
					<select name=cate id=cate>					 
						 <option value=0>收款</option>
						 <option value=1>付款</option>
					 
					</select>					 

				</label>				
			</div>

			<div >
				<label>选择供应商:
					<select name=comid id=comid>
					<option value=''></option>
					 {loop $bill['company'] $key $v}
					 <option value=$key>$v</option>
					 {/loop}
					</select>(此处列出订单里有的供应商)
				</label>				
			</div>
			<div >
				<label>选择银行:
					<select name=bankid id=bankid>
					 {loop $bill['bank'] $key $v}
					 <option value=$key>$v</option>
					 {/loop}
					</select>
				</label>				
			</div>
			 <div >
				<label>金额:
					 <input type="text" size="20" class="input-w2 input-text :required :number" name='money' id='money'   />					 
				</label>				
			</div>
			
			  
			 <div >
				<label>描述:
					 <input type="text" size="20" class="input-w2 input-text" name='remark' id='remark'   />					 
				</label>				
			</div>
			 <div >
				<label>
				
				 <input type="hidden" size="20"  name='id' id='id'    /> 
				 <input type="hidden" size="20"  name='billid' id='billid'  value=$bill['billid']   />
				 <span id="setHeader" class="yui-button yui-push-button">
					<span class="first-child">
						<button id="btsave" tabindex="0" type="button" class='submit'>保存信息</button>
					</span>
					</span>					 					 
				</label>				
			</div>
        </fieldset>		 

    </form>
    </div>
</div>

<script type="text/javascript">
<!--
//配置表格;
function $1(s){return document.getElementById(s);}

function cateFormatter(row, cell, value, columnDef, dataContext) {
 
            if (value ==0) 
                return "<span class='load-hi1'>收款</span>";
            else if (value==1)
                return "<span class='load-medium'>付款</span>";
             
}
VanadiumForm.prototype.success=function(){
	//$("#btsave").click(function(){		
	   var j = $("#myform").serialize();//序列化name/value
	    //alert(j)
       $.ajax({
           url: "{eval echo U('fincsave')}",
           type:'POST',
           data: j,           
           success: function(e) { //返回的json数据 
		         str=$.parseJSON(e);
				 $("#idshu").html(str.shi_shu);
				 $("#idzhi").html(str.shi_zhi);
				 okaction(e)
				 $1("myform").reset();
				 
           } 
     })	
		//$("#myform").submit();	
	//});
	return false;
				
}

function setgrid(){ 
	$('#deleteselect').click(function(e){
		  var b=[];
		  if(typeof grid=='undefined'){
		  return false;
		  }
		  if(grid.getSelectedRows()==''){
			 alert('请选中要操作的项')
			return false;
		  }
		 
		  if(!confirm('确实要删除吗?')){ return false;} 
				
		  try{
		 
		  $.each(grid.getSelectedRows(),function(i,n){				 
			b.push(data[n].id);	
			 
		 })
		 }catch(e){}
		if(G.isEmpty(b)){
			return false;
		}
		$.ajax({ 
			url: PI.URL+"/fincremove", 
			type:'POST',
			data:'id='+b+"&billid={$bill['billid']}&mid="+PI.mid,
			before:function(){
				$("#background").show();
				$("#progressBar").show();
			},
			success: function(e){
		 
				 str=$.parseJSON(e);
				 if(str.status==0){
					alert(str.info);
					return ;
				 }
				 $("#idshu").html(str.shi_shu);
				 $("#idzhi").html(str.shi_zhi);
				 okaction(e)
				
			}
		});

		  //for()
	 //alert( )
		 return ;
	 })

	 
	 
}

 

//-->
</script>

 