 {template reporthead}
<div  >
   <form method='post' action="{eval echo U()}" >
    年份：<select name=d1>
	<option value="0">请选择年</option>
	{eval for($i=2008;$i<2050;$i++){}
		<option value="$i"  {if $d1==$i}selected{/if}>$i</option>
     <?}?>
	 </select>
	月份:<select name=d2>
	<option value="0">请选择月</option>
	{eval for($i=1;$i<=12;$i++){}
		<option value="$i"  {if $d2==$i}selected{/if}>$i</option>
     <?}?>
	 </select>
 	<input type=submit value='查询'>
	</form>
</div>

<div id=reportdiv>
 <table  class=reporttable cellspacing="0" width=1000 align=center  >

  <caption>{$d1}年{$d2}月利润表 </caption>

 <tr><th width =80>部门</th><th>姓名</th>
		{eval for($i=1;$i<=$days;$i++){}
			<th style='width:20px;'>$i日</th>
		 <?}?>
</tr>
 {loop $dlist $key $v}

	    {loop $v['data'] $m $n}
		<tr>{if $m==0}<td rowspan={eval echo count($v['data'])} width =80>$v['name']</td>{/if}<td>$n[real_name]</td>
		{eval for($i=1;$i<=$days;$i++){}
			<td>&nbsp; $n['data'][$i]

			 </td>
		 <?}?>
		</tr>

		 {/loop}
		<tr class=spec><td>小计</td><td></td>
		{eval for($i=1;$i<=$days;$i++){}
			<td>&nbsp; $v['count'][$i]</td>
		 <?}?>
		</tr>

 {/loop}
 <tr class=spec><td>共计</td><td></td>
{eval for($i=1;$i<=$days;$i++){}
			<td>&nbsp; $dc[$i]</td>
		 <?}?>
</tr>
 </table>
 {template formfoot}
